 body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background: darkcyan;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
    width: 600px;
    min-height: 60px;
    background-color:blanchedalmond;
    max-width: 400px;
    padding: 10px 50px 10px 50px;
    margin: 3px;
    border-radius: 10px;
}

.main-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    background-color: blanchedalmond;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 25px;
}
a {
    display: block;
    background-color: mediumseagreen;
    color:midnightblue;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: deepskyblue;
    color: black;
}

.radio-input {
    background-color: #ebd8bc;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

input[type='radio'] {
    transform: scale(1.5); 
} 


/* that section tag is  for loading animation to work */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1 {
    text-align: center;
    color: blanchedalmond;
}

/* TODO: (Kiril) fix layout on phones */