.body-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

#json-output{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

#json-output li {
    padding: 10px 5px;
    width: 100%;
    max-width: 300px;

    background-color: #f2f2f2;
    margin: 2px;
}

#json-output li.hide {
    display: none;
}